.app {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.header h1 {
    font-size: 20px;
}

.main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.filter-row {
    display: flex;
    flex-direction: row;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-left: 50px;
    font-size: 15px;
}
