/* --- Base --- */
* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* --- Global Font & Colors --- */
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #213547;
    background-color: #f6f3f8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
