.building-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 35%;
    max-width: 360px;
}

.building-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    margin-bottom: 10px;
    background-color: #eee;
}
