.filter-bar {
    display: flex;
    gap: 15px;
    height: 100%;
    width: 100%;
}

.filter-group {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    border: #d6d6dc solid 1px;
    padding: 8px;
    height: 100%;
    box-shadow: 0 8px 24px rgba(149, 149, 149, 0.2);
}

.filter-group.styles {
    width: 40%;
}

.filter-group.architects {
    width: 25%;
}

.types-heritage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 100%;
}

.filter-group.building-types {
    height: 75%;
}

.filter-group.heritage {
    height: 20%;
}

.filter-group label {
    font-weight: 500;
    font-size: 14px;
}

.filter-group.heritage label {
    display: flex;
    align-items: center;
    gap: 7px;
}

.filter-group.heritage span {
    cursor: pointer;
}

.filter-group.heritage input:disabled + span {
    opacity: 0.5;
    cursor: default;
}

.filter-group select {
    width: 100%;
    margin-top: 5px;
    border-radius: 8px;
    border-color: #cfcfda;
    border-width: 1px;
    background-color: #e9f7f1;
}

.filter-group select option {
    color: #1f5c48;
}

.filter-group select:focus {
    border-color: #1f5c48;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
