.filter-bar {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}

.filter-group {
    width: 50%;
}

.filter-group label {
    font-weight: 500;
}

.filter-group select {
    width: 100%;
    margin-bottom: 5px;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
}
